<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="adjusmentheight" value="100" />
		<add key="adjusmentaddheight" value="80" />
		<add key="firstadjusmentwidth" value="0" />
		<add key="secondadjusmentwidth" value="50" />
		<add key="thirdadjusmentwidth" value="50" />
	</appSettings>
</configuration>