<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="adjusmentheight" value="-190" />
		<add key="adjusmentaddheight" value="34" />
		<add key="firstadjusmentwidth" value="-140" />
		<add key="secondadjusmentwidth" value="-250" />
		<add key="thirdadjusmentwidth" value="-360" />
		<add key="fontsize" value="14" />
		<add key="fontsize2" value="11" />
		<add key="paperwidth" value="900" />
		<add key="paperheight" value="610" />
	</appSettings>
</configuration>