<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="adjusmentheight" value="-180" />
		<add key="adjusmentaddheight" value="50" />
		<add key="firstadjusmentwidth" value="0" />
		<add key="secondadjusmentwidth" value="-50" />
		<add key="thirdadjusmentwidth" value="-100" />
		<add key="fontsize" value="14" />
		<add key="paperwidth" value="1000" />
		<add key="paperheight" value="800" />
	</appSettings>
</configuration>